ccxt==4.5.84
lightgbm==4.7.0
matplotlib==3.11.2
numba==0.67.0
numpy==2.4.6
optuna==5.0.0
pandas==3.0.6
pyarrow==25.0.1
PyYAML==6.0.3
requests==2.34.2
scikit-learn==1.9.1
scipy==1.17.1
statsmodels==0.15.0
tabulate==0.10.0
